body{
	font-family: "Happy Monkey";
	margin:0;
	padding:0;
}




.header{
	background-color: #FFF3F3;
	width: 100%;
	height: 6em;
}
#logo{
	padding-top: 1.56em;
	padding-left: 3.12em;
}
#banner{
	position: absolute;
	padding-top: 0.93em;
	right: 0.93em;
}
.navbar{
	background-color: #8E1616;
	height:3.12em;
	padding-left:3.12em;
}
ul.item{
	margin-top: 0px;
	padding: 0px;
}
.item-list{
	padding-top:0.81em;
	width:4%;
	text-align: center;
	display: inline-block;
}
a{
	text-decoration: none;
	color:white;
}

p#output {
	text-align: center;
	grid-column: 1/3;
}

.flexbox1{

	width:100%;
	height:56.2em;
	padding-top:0.81em;
	background: url("../img/traffic-332857_1920.jpg");
	background-size: cover;

	div.calcbox {
		bottom: 0;
		height: 700px;
		width: 80%;
		background-color: rgba(255, 255, 255, 0.7);
		margin: 5% 6% 15% 10%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		border: 2px solid grey;


		p {
			grid-column: 1/3;
   	 		text-align: center;
   	 		font-weight: bold;
   	 		font-size:1.4em;

		}

		div.inputbox {
			padding: 5em;

			label {
				display: block;
				width: 80%;
			}

			input {
				display: block;
				width: 80%;
			}
		}

		#calcBtn {
			padding: 0.5em 1em;
			background-color: green;
			color: white;
			border-radius: 15px;
			width: 30%;
			grid-column: 1/3;
			margin: 0 auto;
			margin-bottom: 2em;
		}

	}

}
#para1{
	font-size: 3em;
	padding-left:1.44em;
	color:white;
}
.flexbox2{
	width:100%;
	height:16em;
	padding-top:0.81em;
	background-color: #CECECE;
}
#para2{
	text-align:center;
	font-size:1.2em;
	margin-top:4em;

}


//FOOTER
.navbar-bottom{
	background-color: black;
	height: 150px;
	margin: 3em 0em 0em;
}
.navbar-bottom .item-bottom{
	margin: 0;
	display: flex;
	margin-left: 0.5em;
}
.navbar-bottom .item-bottom .list-item-bottom{
	padding: 0.3em 0em 0em 1.8em;
	font-size: 1em;
	list-style: none;
}
.navbar-bottom .item-bottom .list-item-bottom a{
	color: white;
	text-decoration: none;
}
#foologo{
	display: flex;
	float: right;
	margin-right: 4em;
	justify-content: center;
	margin-top: 3em;
}
#footer{
	background-color: black;
	color: white;
	text-align: center;
//Select//
}
select{
	width:21em;
	height:1.7em;
}

// Code für die Häckchens//
.standardbox li:before
{content:'\2713';
  display:inline-block;
  color:#90D3D5;
  padding:0 6px 0 0;
  }


.standardbox li{list-style-type:none;font-size:1em;}


.benefits{
	border:3px solid black;
	font-family: 'Turret Road', cursive;
	padding:1em;
	font-size:0.9em;
	width:23%;

}
.flexbox3{
	display:flex;
	justify-content:space-around;
	padding-top:2em;
}
h1{
	color:#6783A4;
}

.container {
  display: flex;
  justify-content: space-around;
  padding-top:4em;
}

.picture {
  width: 90%;
  height: 80%;
  margin: 0; }
